<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inucseapp.inumanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_computer"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_computer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.JoinActivity" />
        <activity android:name=".activity.ManagerActivity" />
        <activity android:name=".activity.AddClassActivity" />
        <activity android:name=".activity.ClassinfoActivity" />
        <activity android:name=".activity.ChecklistActivity" />
        <activity android:name=".activity.HistoryActivity" />
        <activity android:name=".activity.HistoryObjectActivity" />
        <activity android:name=".activity.AddCheckListActivity" />
        <activity android:name=".activity.ListObjectActivity" />
        <activity android:name=".activity.AddObjectActivity" />
        <activity android:name=".activity.AssistantActivity" />
        <activity android:name=".activity.UserActivity" />
        <activity android:name=".activity.HistoryListActivity" />
        <activity android:name=".activity.CreateClassActivity"></activity>
    </application>

</manifest>